<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h3>登録用リクエスト画面</h3>
<form th:action="@{/request/mailed}"method="post">
    <span th:text="${errormessage}"></span><br>
メールアドレス：<input type="text"name="mailAddress" id ="mailAddress" >    
<button>送信</button>
</form>
</body>
</html>